@model IEnumerable<User>

@{
    ViewBag.Title = "Список пользователей";
}

<div class="p-1">
    <h3 class="text-center">Пользователи</h3>
    <table class="table table-bordered table-striped">
        <thead>
        <tr class="table-responsive"><th>Id</th><th>Фамилия</th><th>Имя</th></tr>
        </thead>
        <tbody>
        @foreach (var user in Model)
        {
            <tr class="table-responsive text-start">
                <td>@user.Id</td>
                <td>@user.Surname</td>
                <td>@user.Name</td>
                <td>@user.Patronymic</td>
            </tr>
        }
        </tbody>
    </table>
</div>
<p>Request time: @DateTime.Now.ToString("hh:mm:ss")</p>

<div class="text-center">
    <a class="btn btn-primary" asp-action="MainPage">Вернуться на главную страницу</a>
</div>