@model IEnumerable<User>

@{
    ViewBag.Title = "Список пользователей";
}

<h3 class="my-4 text-center">@ViewBag.Title</h3>
<div class="mx-4">
    
    <form asp-action="AllUsers" method="get">
        <p class="text-center">
            Введите ключевое слово(букву): <input class="form-label" type="text" name="SearchString" />
            <input type="submit" value="Поиск" />
        </p>
    </form>
    
    <table class="table table-bordered table-striped table-hover table-sm">
        <thead class="table-dark">
        <tr class="table-responsive">
            <th>ID</th>
            <th>Почта</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Роль</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var user in Model)
        {
            <tr class="table-responsive text-start">
                <td>@user.Id</td>
                <td>@user.Email</td>
                <td>@user.Surname</td>
                <td>@user.Name</td>
                <td>@user.Patronymic</td>
                <td>@user.Role</td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div class="p-4">
    <a class="btn btn-dark" asp-action="MainPage">Вернуться на главную страницу</a>
</div>